version: '3.8'

services:
  api-gateway:
  build: ./api-gateway
  ports:
    - "3000:3000"
  evn_file: ./api-gateway/.env
  depends_on:
    - redis
    - rabbitmq
  environment:
    - REDIS_URL=redis://redis:6379
    - RABBITMQ_URL=amqp://rabbitmq:5672

  identity-service:
    build: ./identity-service

    evn_file: ./identity-service/.env

    depends_on:
      - redis
      - rabbitmq

    environment:
      - REDIS_URL=redis://redis:6379
      - RABBITMQ_URL=amqp://rabbitmq:5672

  post-service:
    build: ./post-service

    evn_file: ./post-service/.env

    depends_on:
      - redis
      - rabbitmq

    environment:
      - REDIS_URL=redis://redis:6379
      - RABBITMQ_URL=amqp://rabbitmq:5672

  media-service:
    build: ./media-service

    evn_file: ./media-service/.env

    depends_on:
      - redis
      - rabbitmq

    environment:
      - REDIS_URL=redis://redis:6379
      - RABBITMQ_URL=amqp://rabbitmq:5672

  search-service:
    build: ./search-service

    evn_file: ./search-service/.env

    depends_on:
      - redis
      - rabbitmq

    environment:
      - REDIS_URL=redis://redis:6379
      - RABBITMQ_URL=amqp://rabbitmq:5672

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"

    healthcheck:
      test: [ "CMD", "rabbitmq-diagnostics", "-q", 'ping' ]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
